{% extends "base.html" %}
{% import 'forms.html' as forms %}

{% macro objective_list_group(objectives) %}
	<ul class="list-group">
		{% for objective in objectives %}
			<li class="list-group-item d-flex justify-content-between align-items-start">
				<div class = "container">

                    <div class="row pt-2">
                        <div class="col">
                            <div class="fw-bold fs-8">
                                {{ objective.description }}
                                {% set average = 0 %}
                                {% set count = 0 %}
                                {% for user in course.users %}
                                    {% set average = average + objective.get_e_factor_average(user, assessment) %}
                                {% endfor %}
                                {% if course.users.count() == 0 %}
                                    {% set count = 1 %}
                                {% else %}
                                    {% set count = course.users.count() %}
                                {% endif%}
                                {% set rating = average / count %}
                                {% if rating < 1.8 %}
                                    {% set full = 1 %}  
                                {% elif rating < 2.4 %}
                                    {% set full = 2 %} 
                                {% elif rating < 3 %}
                                    {% set full = 3 %}
                                {% elif rating < 5 %}
                                    {% set full = 4 %}
                                {% else %}
                                    {% set full = 5 %}
                                {% endif %}
                                {% for i in range(full) %}
                                    <i class="bi bi-star-fill" style="color: gold"></i>
                                    {% endfor %}
                                {% for i in range(5-full) %}
                                    <i class="bi bi-star" style="color: gold"></i>
                                    {% endfor %}
                            </div>
                        
                        </div>
        
                        {% set mastered_count = 0 %}
                        {% set proficient_count = 0 %}
                        {% set attempted_count = 0 %}
                        {% for user in course.users %}
                            
                            {% set user_ave = objective.get_e_factor_average(user, assessment) %}
                            {% if user_ave < 3 %}
                                {% set attempted_count = attempted_count + 1 %}
                            {% elif rating < 4 %}
                                {% set proficient_count = proficient_count + 1 %}
                            {% else %}
                                {% set mastered_count = mastered_count + 1 %}
                            {% endif%}
                        {% endfor %}

                        <div class="col-6">
                            <span class="fw-bold">Student Mastery<div id="student_mastery"></div></span>
                        
                            <script src="https://cdn.plot.ly/plotly-2.12.1.min.js"></script>
                            <script>
                                var data = [{
                                    type: "pie",
                                    values: [{{mastered_count}}, {{proficient_count}}, {{attempted_count}}],
                                    labels: ["mastered_count", "proficient_count", "attempted_count"],
                                    marker: {
                                        colors: ["rgb(26,150,65)","rgb(166,217,106)","#FFFF66"]
                                    },
                                    //automargin: true,
                                    hole: 0.6,
                                    textinfo: 'none'
                                    }]
                                
                                var layout = {
                                    height: 250,
                                    width: 450,
                                    margin: {"t": 0, "b": 0, "l": 0, "r": 0},
                                    showlegend: true,
                                    legend: {
                                        x: 1,
                                        y: 0.5}
                                                
                                    }
                                
                                Plotly.newPlot('student_mastery', data, layout)
                            </script>
                        </div>

                        <div class="col w-auto mx-auto">
                            <div class="row">
                                <a role="button" class=" btn btn-sm btn-primary position-relative"
                                href="{{ url_for('instructor.most_missed_questions', course_name=course.name, mission_id=assessment.id, objective_id=objective.id) }}">
                                Most Missed Questions
                                </a>
                            </div>
                        </div>
                        
                    </div>
            
                </div>
			</li>
		{% endfor %}
	</ul>
{% endmacro %}

{% block body %}
    <div class="container pt-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('user_views.root') }}">Home</a></li>
				<li class="breadcrumb-item"><a href="{{ url_for('user_views.course_overview',course_name=course.name) }}">{{ course.name }}</a></li>
                <li class="breadcrumb-item"><a href="{{ url_for('instructor.assessment_statistics',course_name=course.name) }}">Assessment Statistics</a></li>
                <li class="breadcrumb-item active" aria-current="page"> {{assessment.title}} Progress</li>
            </ol>
        </nav>

		<h5>Learning Objective Progress: {{assessment.title}}</h5>
		{{ objective_list_group(assessment.objectives) }}

    </div>
    
{% endblock %}

