<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-icons.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/pygments.css') }}">
	<script src="{{ url_for('static', filename='js/mathjax-config.js') }}"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>

    <title>{{ page_title }}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <span class="navbar-brand">
                <img src="{{ url_for('static', filename="icons/astronaut2.svg") }}" height="35em"/>
                <strong>SpacedCadet</strong>
            </span>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <div class="nav-item">
                    <a class="nav-link" href="{{ url_for('user_views.root') }}">
                        <i class="bi-house" style="font-size: 1.5rem"></i>
                    </a>
                </div>

                {% if current_user.is_authenticated %}
                <div class="nav-item">
                    <a class="nav-link" href="{{ url_for('user_views.test') }}">
                        Training
                    </a>
                </div>
                {% endif %}

				{% if current_user.is_authenticated and current_user.instructor %}
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarAdminDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Questions
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarAdminDropdown">
						{% for course in current_user.courses %}
							<li>
								<a class="dropdown-item" 
		   							href="{{ url_for('instructor.manage_questions', course_name=course.name) }}"
									>{{ course.name }}</a>
							
							</li>
						{% endfor %}
                    </ul>
                </div>
                {% endif %}


                {% if current_user.is_authenticated %}
                <div class="container d-flex flex-row-reverse">
                    <a class="btn btn-danger btn-sm nav-link text-white" href="{{ url_for('auth.logout') }}" role="button">Log Out</a>
                </div>
                {% else %}
                <div class="container d-flex flex-row-reverse">
                    <a class="btn btn-primary btn-sm nav-link text-white" href="{{ url_for('auth.login') }}" role="button">Sign In</a>
                </div>
                {% endif %}
            </div>
        </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
    <div class="container pt-3">
            {% for category, message in messages %}
        <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
            {% endfor %}
    </div>
        {% endif %}
    {% endwith %}

    {% block body %}
    <h1>Welcome!</h1>
    <p>Some text goes here</p>
    {% endblock %}
	<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>
