{% extends "base.html" %}
{% block body %}
    <div class="container pt-3">
        <h4>Browse Questions</h4>

		<div class="container row">
			{% if questions|length == 0 %}
				No questions available.
			{% else %}
			<ul class="list-unstyled">
				{% for q in questions %}
					{% set q_id = "question-" ~ q.id %}

					<li class="m-2 p-2 border" id="{{q_id}}">
						<div class="row">
							{{ q.prompt|mdown|safe }}
						</div>
						<div class="row my-1">
							{% set add_url = url_for('course_questions', course_id=course.id, _external=True) %}
							<div class="col">
								<a role="button"
									class=" btn btn-sm btn-outline-secondary"
									 href="{{ url_for('instructor.preview_question', question_id=q.id) }}">
									Preview
								</a>
								<button type="button" 
										onclick="addQuestion('{{add_url}}', {{q.id}}, this, '{{ url_for('auth.refresh_jwts') }}')" 
										class=" btn btn-sm btn-outline-primary">
									Add
								</button>
							</div>
						</div>
					</li>
				{% endfor %}
			</ul>
			{% endif %}
		</div>
    </div>

	<div id="snackbar">Default message.</div> 

	<script src="{{ url_for('static', filename='js/helpers.js') }}" type="module"></script>

	<script type="module">
		import { fetchOrRefresh, getCookie, showSnackbarMessage } from '/static/js/helpers.js';

		window.addQuestion = async function addQuestion(url, q_id, add_button, refresh_url) {
			const config = {
				method: 'POST',
                credentials: 'same-origin',
                headers: {
                    "Content-Type": "application/json",
					'X-CSRF-TOKEN': getCookie('csrf_access_token'),
                },
				body: JSON.stringify({'ids': [q_id]})
			}

            const response = await fetchOrRefresh(url, 'POST', refresh_url, config);

			if (!response.ok) {
				showSnackbarMessage(`Error removing question. (HTTP Status: ${response.status})`);
				return;
			}

			// Disable the add button so user can't try adding again.
			// TODO: make this toggle add/remove
			add_button.disabled = true;

			showSnackbarMessage("Question successfully added.");
		}
	</script>
{% endblock %}
