{% extends "base.html" %}
{% block body %}
    <div class="container pt-3" >
        <h2>
            <i class="bi-flag" style="color: mediumseagreen"></i>
            Congratulations!
            <i class="bi-flag" style="color: mediumseagreen"></i>
        </h2>
        Your training for this mission is complete for now. Check back later for more training
        questions or
        <a href="{{ url_for('user_views.missions_overview', course_name=course_name) }}">check
            for other missions to train for</a>.

        <br>
        <br>
        <div class="row m-3">
            <div class="col col-md-auto m-3">
                {% set incorrect = breakdown_today[0].count() %}
                {% set easy = breakdown_today[1].count() %}
                {% set mid = breakdown_today[2].count() %}
                {% set hard = breakdown_today[3].count() %}
                <h5 class="text-left">Today's Progress</h5>
                <div id="test"></div>
            </div>

            <div class="col mx-auto border">
                <h5 class="text-left m-3">Learning Objective Review Center</h5>
                
                {% for lo in topics_to_review %}
                    {% set learning_objective = lo %}
                    <div class="container">
                        <div class ="row">
                            <h6 class="text-left m-3" ><i class="bi bi-star-fill"  style="color: black">   {{learning_objective.description}}</i></h6>
                            <a class="btn btn-primary"  href="{{ url_for('user_views.review_objective', course_name=course_name, mission_id=mission.id, objective_id=learning_objective) }}" role="button">Review Objective</a>
                        </div>
                    </div>
                {% endfor %}  
                </br> 
            </div>

        </div>

    </div>

    <script src="https://cdn.plot.ly/plotly-2.12.1.min.js"></script>
    <script>
        var data = [{
            type: "pie",
            values: [{{easy}}, {{mid}}, {{hard}}, {{incorrect}}],
            labels: ["Easy", "Medium", "Difficult", "Incorrect"],
            marker: {
                colors: ["rgb(26,150,65)","rgb(166,217,106)","rgb(255,255,191)", "rgb(220,220,220)"]
            },
            //automargin: true,
            hole: 0.6,
            textinfo: 'none'
        }]
        
        var layout = {
            height: 300,
            width: 300,
            margin: {"t": 0, "b": 0, "l": 0, "r": 0},
            showlegend: true,
            legend: {
                x: 1,
                y: 1}
                        
            }
        
        Plotly.newPlot('test', data, layout)
    </script>

{% endblock %}
