{% extends "base.html" %}
{% block body %}
    <div class="container pt-3">
        <h2>
            <i class="bi-flag" style="color: mediumseagreen"></i>
            Congratulations!
            <i class="bi-flag" style="color: mediumseagreen"></i>
        </h2>
        Your training for this mission is complete for now. Check back later for more training
        questions or
        <a href="{{ url_for('user_views.missions_overview', course_name=course_name) }}">check
            for other missions to train for</a>.

        <div class="row row-cols-2">
            <div class="col">
                <br>
                <div id="test" style="width:600px;height:250px;"></div>
            </div>

            <div class="col">
                <br>
                Objectives to Work On:
                {% for lo in topics_to_review %}
                    {% set learning_objective = lo[0] %}
                    <div class="col-md-auto my-auto">
                        <h4><i class="bi bi-star-fill" style="color: gold"></i></h4>
                    </div>
                    <div class="col-md-auto my-auto"> {{learning_objective}}: </div>
                
            </div>

        </div>

    </div>

    <script src="https://cdn.plot.ly/plotly-2.12.1.min.js"></script>
    <script>
        var data = [{
            type: "pie",
            values: [2, 3, 4, 4],
            labels: ["Wages", "Operating expenses", "Cost of sales", "Insurance"],
            textinfo: "label+percent",
            textposition: "outside",
            automargin: true
        }]
        
        var layout = {
            height: 400,
            width: 400,
            margin: {"t": 0, "b": 0, "l": 0, "r": 0},
            showlegend: false
            }
        
        Plotly.newPlot('test', data, layout)
    </script>

{% endblock %}
