{% extends "base.html" %}
{% import 'forms.html' as forms %}

{% block body %}
    <div class="container pt-3">
        {% if edit_mode %}
            <h4>Edit Question (Self-Graded Short Answer)</h4>
        {% else %}
            <h4>Create New Question (Self-Graded Short Answer)</h4>
        {% endif %}

		<div class="row">
			<form method="POST" action="">
				{{ form.csrf_token }}

                {{ forms.input(form.prompt, placeholder="Enter the prompt. Markdown formatting is allowed.") }}
                {{ forms.input(form.answer, placeholder="Enter the correct answer. Markdown formatting is allowed.") }}

                {{ form.submit(class_="btn btn-primary btn-sm") }}
			</form>
		</div>
    </div>

{% endblock %}
