{% extends "base.html" %}
{% import 'forms.html' as forms %}

{% block body %}
    <div class="container pt-3">
        {% if edit_mode %}
            <h4>Edit Question (Single Line Code)</h4>
        {% else %}
            <h4>Create New Question (Single Line Code)</h4>
        {% endif %}

		<div class="row">
			<form method="POST" action="">
				{{ form.csrf_token }}

                {{ forms.input(form.prompt, placeholder="Enter the prompt. Markdown formatting is allowed.") }}
                {{ forms.input(form.answer, placeholder="Enter the exact answer or a regular expression.") }}
                

                <div class="pb-2 mx-1 text-secondary">
                    <i class="bi-info-circle"></i>
                    Student responses will have leading and trailing
                    whitespace stripped before comparing with the given answer.
                </div>
                
                <div class="form-group ms-1 pt-2 pb-2">
                    {{ form.add_body(class_="pl-2 form-check-input") }}
                    The answer above needs to append an empty body.
                </div>
                {{ forms.input(form.language, placeholder="Enter the coding language the answer will be in.") }}
                {{ form.submit(class_="btn btn-primary btn-sm") }}
                
			</form>
		</div>
    </div>

{% endblock %}
