{% extends "base.html" %}
{% import 'forms.html' as forms %}

{% block body %}
    <div class="container pt-3">
        {% if edit_mode %}
            {% set header_text = "Edit Course Settings" %}
        {% else %}
            {% set header_text = "Create New Course" %}
        {% endif %}

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('user_views.root') }}" class="text-decoration-none">Home</a></li>
                {% if edit_mode %}
                    <li class="breadcrumb-item"><a href="{{ url_for('user_views.course_overview', course_name=course_name) }}" class="text-decoration-none">{{ course_name }}</a></li>
                {% endif %}
                <li class="breadcrumb-item active" aria-current="page">{{ header_text }}</li>
            </ol>
        </nav>

        <h5>{{ header_text }}</h5>

		<div class="row">
			<form method="POST" action="">
				{{ form.csrf_token }}

                <div class="row">
                    {% if not edit_mode %}
                        {{ forms.input(form.name, "Enter a unique course name") }}
                    {% endif %}
                    {{ forms.input(form.title, "Enter a title for your course") }}
                    {{ forms.input(form.description, "Enter a description of the course") }}
                </div>

                <div class="row">
                    <div class="col">
                        {{ forms.input(form.start_date) }}
                    </div>
                    <div class="col">
                        {{ forms.input(form.end_date) }}
                    </div>
                </div>

                <div class="row pt-2">
                    <div class="col w-auto">
                        {{ form.submit(class_="btn btn-primary") }}
                    </div>
                </div>
			</form>
		</div>
    </div>

{% endblock %}
