{% extends "base.html" %}
{% block body %}
    <div class="container pt-3">
        <h4>
            <i class="bi-clipboard-check"  style="color: green"></i>
            <span class="px-2">Rate Your Performance</span>
        </h4>

        Nice work, cadet! How difficult was it for you to recall the info
        needed to answer this question?

		<form method="POST" action="">
            {{ form.csrf_token }}
            <ul class="list-unstyled px-1 pt-2">
                {% for option in form.difficulty %}
                    <li class="pt-1">
                        {{ option(class_="form-check-input") }}
                        {{ option.label(class_="form-check-label") }}
                    </li>
                {% endfor %}
            </ul>

            {{ form.submit(class_="btn btn-primary btn-sm") }}
        </form>
    </div>
{% endblock %}
