{% extends "base.html" %}
{% import 'forms.html' as forms %}

{% block body %}
    <div class="container pt-3">
        {% if edit_mode %}
            <h4>Edit Learning Objective</h4>
        {% else %}
            <h4>Create New Learning Objective</h4>
        {% endif %}

        {% if topic %}
            <div class="my-1">
                <strong>Topic:</strong> {{ topic }}
            </div>
        {% endif %}

		<div class="row">
			<form method="POST" action="">
				{{ form.csrf_token }}

                {{ forms.input(form.description, placeholder="Enter the learning objective's text. Markdown formatting is allowed.") }}

                <div class="form-group ms-1 pt-2 pb-2">
                    {{ form.public(class_="pl-2 form-check-input") }}
                    {{ form.public.label }}
                </div>

                {{ form.submit(class_="btn btn-primary btn-sm") }}
			</form>
		</div>
    </div>

{% endblock %}
