{% macro get_valid_class(form_field) -%}
	{% if form_field.errors %}
		is-invalid
	{% endif %}
{%- endmacro %}

{% macro input(form_field, placeholder, form_class="form-control", include_label=True) -%}
    <div class="form-group py-1">
        {% if include_label %}
            <strong>{{ form_field.label }}:</strong>
        {% endif %}

		{% set class_str = form_class + " " + get_valid_class(form_field) %}
        {{ form_field(class_=class_str, placeholder=placeholder) }}

        {% if form_field.errors %} 
			<div class="ms-1 invalid-feedback">
				{% for error in form_field.errors %}
					{{ error }}.
				{% endfor %}
			</div>
        {% endif %}
    </div>
{%- endmacro %}

{% macro checkbox_input(form_field) -%}
    <div class="form-group pt-2 pb-2">
        <strong>{{ form_field.label }}:</strong>
        <div class="container">
            {% for choice in form_field %}
            <div class="form-check">
                {{ choice(class_="form-check-input") }}
                {{ choice.label(class_="form-check-label") }}
            </div>
            {% endfor %}
        </div>
    </div>
{%- endmacro %}

