{% extends "base.html" %}
{% block body %}
    <div class="container pt-3">
        <div class="row border-bottom mb-5">
            <h2>Welcome{%if current_user.is_authenticated %}, {{ current_user.first_name }}{% endif %}!</h2>
            SpacedCadet is an app that uses spaced repetition to optimize your
            learning.
            <br><br>
        </div>

        {% if ns.current_courses %}
            <div class="pt-3">
                {% for course in ns.current_courses %}
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class = "row mb-1">
                                <h5>{{course.name}}</h5>
                                <br>
                            </div>
                            {% for assessment in course.upcoming_assessments() %}
                                {% set num_needing_practice = assessment.fresh_questions(current_user).count() + assessment.repeat_questions(current_user).count() %}
                                {% if num_needing_practice > 0 %}
                                    <div class = "row mb-2">
                                        <div class="col">{{ assessment.title }}</div>
                                        <div class = "col align-items-right">
                                            <a role="button" class="mt-1 btn btn-sm btn-primary position-relative"
                                                href="{{ url_for("user_views.test", course_name=course.name, mission_id=assessment.id) }}">
                                                Begin Training
                                                <span class="position-absolute top-0 start-100 translate-middle badge bg-danger">
                                                    {{ num_needing_practice }}
                                                    <span class="visually-hidden">questions that need practice</span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <a href="{{ url_for('user_views.missions_overview', course_name=course.name) }}">
                                Go to Training Center
                            </a>   
                        </li>                     
                    </ul>               
                {% endfor %}
            </div>

        {% endif %}
    </div>
{% endblock %}
