{% extends "base.html" %}
{% block body %}
    <div class="container pt-3">
        <h4>Manage Questions</h4>

		<div class="row">
			<h5>Add Questions</h5>
			<ul class="list-unstyled mx-3">
				<li>Search Existing by Source</li>
				<li>Search Existing by Learning Objective</li>
				<li><a href="{{ url_for('instructor.create_new_question', course_name=course.name) }}">Create New Question</a></li>
			</ul>
		</div>

		<div class="row">
			<h5>Current Questions</h5>
			<ul class="list-unstyled">
				{% for q in questions %}
					{% set q_id = "question-" ~ q.id %}

					<li class="m-2 border-bottom" id="{{q_id}}">
						<div class="row">
							<div class="col bg-light p-1">
								{{ q.prompt|mdown|safe }}
							</div>
							<div class="col-md-2">
								<strong>Attempts:</strong>
								<br/><i class="bi-check-circle" style="color: green;"></i>
								Correct: {{ q.correct_attempts()|length }}
								<br/><i class="bi-x-circle" style="color: red;"></i>
								Incorrect: {{ q.incorrect_attempts()|length }}
							</div>
						</div>
						<div class="row my-1">
							{% set remove_url = url_for('course_question', course_id=course.id, question_id=q.id, _external=True) %}
							<div class="col">
								<a role="button"
									class=" btn btn-sm btn-outline-primary"
									 href="{{ url_for('instructor.preview_question', question_id=q.id) }}">
									Preview
								</a>
								<button type="button" 
										onclick="removeQuestion('{{remove_url}}', '{{q_id}}').then(showMessage)" 
										class=" btn btn-sm btn-outline-danger">
									Remove
								</button>
							</div>
						</div>
					</li>
				{% endfor %}
			</ul>
		</div>
    </div>

	<div id="snackbar">Default message.</div> 

	<script type="text/javascript">
		function showMessage(message) {
			var x = document.getElementById("snackbar");
			x.innerHTML = message;

			x.classList.add("show");

			// hide after 3 seconds
			setTimeout(() => x.classList.remove("show"), 3000);

			// TODO: handle case when show snackbar is displayed before the
			// previous timer went off
		}

		async function removeQuestion(url, q_id) {
			console.log(url);
			const config = {
				method: 'DELETE',
			}
			const response = await fetch("fart", config);
			if (!response.ok) {
				return `Error removing question. (HTTP Status: ${response.status})`
				//throw new Error(`HTTP error! status: ${response.status}`);
			}

			// remove the question from the list on this page
			const to_remove = document.getElementById(q_id);
			to_remove.parentNode.removeChild(to_remove);

			return "Question successfully removed.";
		}
	</script>
{% endblock %}
