{% extends "base.html" %}
{% block body %}
    <div class="container pt-3">
        <h4>Manage Questions</h4>

		<div class="row">
			<h5>Add Questions</h5>
			<ul class="list-unstyled mx-3">
				<li>Search Existing by Source</li>
				<li>Search Existing by Learning Objective</li>
				<li><a href="{{ url_for('instructor.create_new_question', course_id=course_id) }}">Create New Question</a></li>
			</ul>
		</div>

		<div class="row">
			<h5>Current Questions</h5>
			<ul class="list-unstyled">
				{% for q in questions %}
					{% set q_id = "question-" ~ q.id %}

					<li class="m-2 border-bottom" id="{{q_id}}">
						<div class="row">
							<div class="col bg-light p-1">
								{{ q.prompt|mdown|safe }}
							</div>
							<div class="col-md-2">
								<strong>Attempts:</strong>
								<br/>Correct: {{ q.correct_attempts()|length }}
								<br/>Incorrect: {{ q.incorrect_attempts()|length }}
							</div>
						</div>
						<div class="row my-1">
							{% set remove_url = url_for('section_question', section_id=course_id, question_id=q.id, _external=True) %}
							<div class="col">
								<button type="button" class=" btn btn-sm btn-outline-primary">
									Preview
								</button>
								<button type="button" 
										onclick="removeQuestion('{{remove_url}}', '{{q_id}}').then(alert)" 
										class=" btn btn-sm btn-outline-danger">
									Remove
								</button>
							</div>
						</div>
					</li>
				{% endfor %}
			</ul>
		</div>
    </div>

	<script type="text/javascript">
		async function removeQuestion(url, q_id) {
			console.log(url);
			const config = {
				method: 'DELETE',
			}
			const response = await fetch(url, config);
			if (!response.ok) {
				alert(response.status);
				throw new Error(`HTTP error! status: ${response.status}`);
			}

			// remove the question from the list on this page
			const to_remove = document.getElementById(q_id);
			to_remove.parentNode.removeChild(to_remove);

			return "Success!";
		}
	</script>
{% endblock %}
