{% extends "base.html" %}
{% import 'forms.html' as forms %}

{% macro assessment_list_group(assessments) %}
	<ul class="list-group">
		{% for assessment in assessments %}
			<li class="list-group-item d-flex justify-content-between align-items-start">
				<div>
					<div class="fw-bold fs-5">{{ assessment.title }}</div>

					{{ assessment.description }}

					<div class="mt-1">
						<span class="fw-bold">Date/Time:</span>
						{{ assessment.time.strftime('%B %d, %Y @ %I:%M %p') }}
					</div>

					{% if assessment.topics.count() != 0 %}
						<div class="mt-1">
							<span class="fw-bold">Topics:</span>
							{% for topic in assessment.topics %}
								<span class="badge rounded-pill bg-light text-dark border">{{ topic.text }}</span>
							{% endfor %}
						</div>
					{% endif %}

					{% if assessment.objectives.count() != 0 %}
						<div class="mt-1">
							<span class="fw-bold">Learning Objectives:</span>
							<ol>
								{% for objective in assessment.objectives %}
									<li class="inline-p">
										{{ objective.description|mdown|safe }}
									</li>
								{% endfor %}
							</ol>
						</div>
					{% endif %}

					<div class="mt-1">
						<span class="fw-bold">Questions:</span>
						{{ assessment.questions.count() }}
					</div>
				</div>
				<a role="button" class="btn btn-sm btn-primary"
					 href="{{ url_for("user_views.test", course_name=course.name, mission_id=assessment.id) }}">
					Begin Training
				</a>
			</li>
		{% endfor %}
	</ul>
{% endmacro %}

{% block body %}
    <div class="container pt-3">
		<h4>Missions for {{course.name}}</h4>

		<h5>Upcoming Missions</h5>
		{{ assessment_list_group(course.upcoming_assessments()) }}

		<div class="mt-4">
			<h5>Past Missions
			<button class="btn btn-sm btn-link text-decoration-none" type="button" data-bs-toggle="collapse" data-bs-target="#pastMissions" aria-expanded="false" aria-controls="pastMissions">
				[Show/Hide]
			</button>
			</h5>
			<div class="collapse" id="pastMissions">
				{{ assessment_list_group(course.past_assessments()) }}
			</div>
		</div>
    </div>
{% endblock %}
