{% extends "base.html" %}
{% import 'forms.html' as forms %}

{% block body %}
	<div class="container pt-3">
        
		{% if preview_mode %}
			<div class="text-danger row mb-3">
				<strong><i class="bi-eye-fill"></i> Question Preview</strong>
			</div>
        {%else%}
        {% set fresh_questions=mission.fresh_questions(current_user).count() %}
        {% set questions_total = mission.questions.count() %}
        {% set repeat_questions=mission.repeat_questions(current_user).count() %}
            <div class="row justify-content-end">

                <div class="col -sm">
                    <div class="progress" style="height: 20px; float:right; width:20%;">
                        <div class="progress-bar bg-success w3-container w3-center" role="progressbar" style="width:{{(questions_total-fresh_questions-repeat_questions)/questions_total*100}}%" aria-valuenow={{fresh_questions/questions_total*100}} aria-valuemin="0" aria-valuemax={{questions_total}}>{{questions_total-fresh_questions-repeat_questions}}</div>
                        <div class="progress-bar bg-warning w3-container w3-center" role="progressbar" style="width:{{repeat_questions/questions_total*100}}%" aria-valuenow={{repeat_questions/questions_total*100}} aria-valuemin="0" aria-valuemax={{questions_total}}>{{repeat_questions}}</div>
                        <div class="progress-bar bg-light w3-container w3-center" role="progressbar" style="width:{{fresh_questions/questions_total*100}}%" aria-valuenow={{fresh_questions/questions_total*100}} aria-valuemin="0" aria-valuemax={{questions_total}}>{{fresh_questions}}</div>
                    </div>
                </div>

                <div class="col-md-auto my-auto">
                    <a href="#" data-bs-toggle="tooltip" data-bs-placement="bottom" data-html="true" 
                                title="Questions Completed: {{(questions_total-fresh_questions-repeat_questions)}}&#013; Let's try Again!: {{repeat_questions}}&#013; Questions Remaining: {{fresh_questions}}">
                                <i class="bi bi-info-circle"></i></a>
                </div>
            </div>

            {% if not fresh_question %}
                <div class="row justify-content-end">
                    <div class="col-md-auto my-auto">
                        <strong style="float:right"><i class="bi-arrow-repeat"></i> Repeat Question </strong>
                    </div>
                </div>
            {% endif %}

		{% endif %}

		<div class="row" id="prompt">
			{{ prompt }}
		</div>

        {% block instructions %}{% endblock %}

        {% block response_area required %}{% endblock %}
    </div>

        {% block js %}{% endblock %}

	{% if preview_mode %}
		<script type="text/javascript">
			window.addEventListener("DOMContentLoaded", () => {
				submit_button = document.getElementById("submit");
				submit_button.disabled = true;

				no_answer_button = document.getElementById("no_answer");
				no_answer_button.disabled = true;
			});
		</script>
	{% endif %}

{% endblock %}
