{% extends "base.html" %}
{% import 'forms.html' as forms %}

{% block body %}
    <div class="container pt-3">
        <h4>Reset Password</h4>

        <form method="POST" action="">
            {{ form.csrf_token }}
            {{ forms.input(form.password, "Enter Your Password") }}
            {{ forms.input(form.confirm, "Repeat Your Password") }}
            <div class="container pt-2 px-1">
                {{ form.submit(class_="btn btn-primary") }}
            </div>
        </form>
    </div>
{% endblock %}
