{% extends "base.html" %}
{% block body %}
    <div class="container pt-3">
        <div class="row mb-2">
            <div class="col">
                <h4>Reviewing Questions in Learning Objective: {{objective.description}}</h4>
            </div>
        </div>

        
        <div id="carouselExampleIndicators" class="carousel slide row mb-5" data-ride="carousel">
            <div class="col">
                <ol class="carousel-indicators">
                    {% for i in range((review_questions|length)) %}
                        {% if i == 0 %}
                            <li data-target="#carouselExampleIndicators" data-slide-to={{i}} class="active"></li>
                        {% else %}
                            <li data-target="#carouselExampleIndicators" data-slide-to={{i}}></li>
                        {% endif %}
                    {% endfor %}
                </ol>
                
                
                <div class="carousel-inner">
                    {% for q in review_questions %}
                        {% if q == review_questions[0] %}
                            <div class="carousel-item active">
                                <p class="pt-3"><strong>Question:</strong>
                                    <div class="px-3">{{ q.prompt }}</div></p>
                        {% else %}                        
                            <div class="carousel-item">
                                <p class="pt-3"><strong>Question:</strong>
                                    <div class="px-3">{{ q.prompt }}</div></p>
                        {% endif %}
                                <div class="row border-bottom mb-2">
                                    <div class="col"><strong>Correct Answer:</strong></div>
                                </div>
                                <div class="row">
                                    <div class="col">{{ q.get_answer()|safe }}</div>
                                </div>
                            </div>
                        
                    {% endfor %} 
                </div>
                 
            </div>        
        

            <div class="row mb-2">
                <div class="col text-center ">
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <a class="btn btn-outline-secondary btn-sm" aria-hidden="true">&#10094;</a></a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <a class="btn btn-outline-secondary btn-sm" aria-hidden="true">&#10095;</a></a>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col text-center ">
                <a href="{{ continue_url }}">Back to Mission Overview</a>
            </div>
        </div>

    </div>
{% endblock %}