{% extends "base.html" %}
{% block body %}
    <div class="container pt-3">
        <div class="row mb-2">
            <div class="col">
                <h4>Reviewing Questions in Learning Objective: {{objective.description}}</h4>
            </div>
        </div>

        
        <div id="carouselExampleIndicators" class="carousel slide row mb-2" data-ride="carousel">
            <div class="col">
                <ol class="carousel-indicators">
                    {% for i in range((review_questions|length)) %}
                        <li data-target="#carouselExampleIndicators" data-slide-to={{i}} class="active"></li>
                    {% endfor %}
                </ol>
                
                {% for q in review_questions %}
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <p class="pt-3"><strong>Question:</strong>
                                <div class="px-3">{{ q.prompt }}</div></p>
                
                            <div class="row border-bottom mb-2">
                                <div class="col"><strong>Correct Answer:</strong></div>
                            </div>
                            <div class="row">
                                <div class="col">{{ q.get_answer()|safe }}</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}  
            </div>        
        </div>

        <div class="row mb-2">
            <div class="col text-center ">
                <a  href="#gamespandp" data-slide="prev" class="btn btn-outline-secondary btn-sm">&#10094;</a>
                <a  href="#gamespandp" data-slide="next" class="btn btn-outline-secondary btn-sm">&#10095;</a>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col text-center ">
                <a href="{{ continue_url }}">Back to Mission Overview</a>
            </div>
        </div>

    </div>
{% endblock %}