{% extends "base.html" %}
{% block body %}
    <div class="container pt-3">
		<h4>Review Question</h4>
		<div class="container">
			<h5>Preview:</h5>
			<span class="container py-2">
				The question will appear to students as shown below.
			</span>

			<div class="container">
			<iframe
				id="preview-frame"
				title="Question Preview"
				src="{{ url_for('instructor.preview_question', question_id=question.id) }}"
				width="100%"
				onload="removeNavbar(this)"></iframe>
			</div>
		</div>

		<div class="container mt-2">
			<h5>Answer:</h5>
			<div class="container">
			{{ question.get_answer()|safe }}
			</div>
		</div>

        <div class="container" id="learningObjective">
            
            <h5>Learning Objective:</h5>
            <div class="container pb-2">
                <div v-if="objective_text === ''">
                    <em>None.</em>
                    <div class="pt-2">
                        <i class="bi-plus-square"></i>
                        <a href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#setObjectiveModal">
                            Add Objective
                        </a>
                    </div>
                </div>
                <div v-else>
                    <span v-html="objective_text"></span>
                    <div>
                        <i class="bi-pencil-square"></i>
                        <a href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#setObjectiveModal">
                            Change Objective
                        </a>
                        <br/>
                        <i class="bi-trash"></i>
                        <a href="#" 
                           class="text-decoration-none text-danger"
                           @click="removeObjective()"
                           >
                            Remove Objective
                        </a>
                    </div>
                </div>
            </div>

            <!-- Modal for setting the learning objective. -->
            <div class="modal fade" id="setObjectiveModal" tabindex="-1" aria-labelledby="setObjectiveModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h5 class="modal-title" id="setObjectiveModalLabel">
                                Update Question's Learning Objective
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body">
                            <div class="row pb-2">
                                <div class="input-group">
                                    <label for="searchObjectives"
                                           class="form-label visually-hidden">
                                        Search Learning Objectives</label>
                                    <input 
                                        id="searchObjectives"
                                        v-model.trim="search_string" 
                                        @keyup.enter="searchObjectives()"
                                        type="text"
                                        class="form-control"
                                        placeholder="Search learning objectives (e.g. while loop)"></input>
                                    <button class="btn btn-xs btn-primary"
                                        @click="searchObjectives()">
                                        <i class="bi-search"></i>
                                        Search
                                    </button>
                                </div>
                            </div>

                            <div v-if="objectives !== null">
                                <strong>Search Results ([[ objectives.length ]]):</strong>
                                <div class="container" v-if="objectives.length === 0">
                                    <em>No search results.</em>
                                </div>
                                <div class="container" v-else>
                                    <ul class="list-unstyled">
                                        <li v-for="(lo, index) in objectives"
                                            :key="lo.id"
                                            class="border rounded p-1 m-2"
                                            :class="{ 'border-primary': selected_objective_id == lo.id }">
                                            <input 
                                                :id="`opt${index}`"
                                                :value="`${lo.id}`"
                                                v-model.number="selected_objective_id"
                                                name="objOptions"
                                                type="radio"
                                                class="visually-hidden">
                                            <label :for="`opt${index}`" v-html="convertToHtml(lo.description)"></label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mt-3">
                            <em>
                                Can't find a suitable learning objective?
                            </em>
                            <a href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#newObjectiveModal" data-bs-dismiss="modal">
                                Create a New Objective
                            </a>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary"
                                    @click="setObjective()"
                                    :disabled="selected_objective_id === null"
                                    >Save Selection</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal for creating a new learning objective. -->
            <div class="modal fade" id="newObjectiveModal" tabindex="-1" aria-labelledby="newObjectiveModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h5 class="modal-title" id="newObjectiveModalLabel">
                                Create a New Learning Objective
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body">
                            <label for="objectiveDescription"
                                   class="form-label visually-hidden">
                                Description</label>
                            <textarea 
                                id="objectiveDescription"
                                v-model.trim="new_objective_description" 
                                class="form-control"
                                placeholder="Enter the learning objective's description. Markdown is allowed."
                                required></textarea>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value=""
                                                                                id="newObjectivePublic" checked
                                                                                v-model="new_objective_public">
                                <label class="form-check-label" for="newObjectivePublic">
                                    Public
                                </label>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary"
                                    @click="addObjective()"
                                                  :disabled="new_objective_description.length === 0">
                                Create Objective
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container pt-2">
            <h5>Availability:</h5>
            <div class="container pb-2">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="publicQuestion" {% if question.public %}checked{% endif %}
                           onchange="patchBooleanField(this, 'public', {{question.id}})">
                    <label class="form-check-label" for="publicQuestion">Public</label>
                </div>


                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="enabledQuestion" {% if question.enabled %}checked{% endif %}
                           onchange="patchBooleanField(this, 'enabled', {{question.id}})">
                    <label class="form-check-label" for="enabledQuestion">Enabled</label>
                </div>

                <span class="text-secondary">
                    <i class="bi-info-circle"></i>
                    Public questions are available to all users to add to
                    their own courses. Only questions that have been
                    <em>enabled</em> are available for use.
                </span>
            </div>
        </div>
    </div>

    <div id="snackbar">Default message.</div> 

    <script src="{{ url_for('static', filename='js/showdown.min.js') }}"></script>
    <script src="https://unpkg.com/vue@3"></script>

    <script src="{{ url_for('static', filename='js/helpers.js') }}" type="module"></script>

    <script type="module">
		import { fetchOrRefresh, getCookie, showSnackbarMessage } from '/static/js/helpers.js';
        import * as CadetApi from '/static/js/cadet-api.js';

        const converter = new showdown.Converter();
        const refresh_url = "{{ url_for('auth.refresh_jwts') }}";

        const app = Vue.createApp({
            data() {
                return {
                    search_string: "",
                    objectives: null,
                    selected_objective_id: null,
                    objective_text: "",
                    new_objective_description: "",
                    new_objective_public: true,
                }
            },

            methods: {
                async searchObjectives() {
                    let url = "{{ url_for('objectives_api') }}";
                    if (this.search_string) {
                        url = url + "?q=" + encodeURIComponent(this.search_string);
                    }
                    const response = await fetchOrRefresh(url, 'GET', refresh_url);
                    if (response.ok) {
                        const foo = await response.json();
                        this.objectives = foo["learning_objectives"];
                    }
                    else {
                        const modal_el = document.getElementById('setObjectiveModal');
                        const objectives_modal = bootstrap.Modal.getInstance(modal_el);
                        objectives_modal.hide();
                        showSnackbarMessage(`Error searching for learning objective. Try again. (HTTP Status: ${response.status})`);
                    }
                },

                async addObjective() {
                    const url = "{{ url_for('objectives_api') }}";

                    const message_body = {
                        'description': this.new_objective_description,
                        'public': this.new_objective_public,
                    }

                    const config = {
                        method: 'POST',
                        credentials: 'same-origin',
                        headers: {
                            "Content-Type": "application/json",
                            'X-CSRF-TOKEN': getCookie('csrf_access_token'),
                        },
                        body: JSON.stringify(message_body),
                    };

                    const response = await fetchOrRefresh(url, 'POST', refresh_url, config);
                    if (response.ok) {
                        const r = await response.json();

                        const objective_md = r["objective"].description;
                        const objective_html = converter.makeHtml(objective_md);
                        this.objective_text = objective_html;


                        this.selected_objective_id = r["objective"].id;
                        await this.setObjective();

                        showSnackbarMessage("Successfully created and set learning objective.");
                    }
                    else {
                        showSnackbarMessage(`Error creating learning objective. Try again. (HTTP Status: ${response.status})`);
                    }

                    this.new_objective_description = "";
                    this.new_objective_public = true;

                    const modal_el = document.getElementById('newObjectiveModal');
                    const new_objective_modal = bootstrap.Modal.getInstance(modal_el);
                    new_objective_modal.hide();
                },

                async setObjective() {
                    if (this.selected_objective_id === null) {
                        return;
                    }

                    const url = "{{ url_for('question_objective', question_id=question.id) }}";
                    const config = {
                        method: 'PUT',
                        credentials: 'same-origin',
                        headers: {
                            "Content-Type": "application/json",
                            'X-CSRF-TOKEN': getCookie('csrf_access_token'),
                        },
                        body: JSON.stringify({'id': this.selected_objective_id})
                    };

                    const response = await fetchOrRefresh(url, 'PUT', refresh_url, config);
                    if (response.ok) {
                        const r = await response.json();

                        const objective_md = r["updated"].objective.description;
                        const objective_html = converter.makeHtml(objective_md);
                        this.objective_text = objective_html;

                        showSnackbarMessage("Successfully updated learning objective.");

                    }
                    else {
                        showSnackbarMessage(`Error updating learning objective. Try again. (HTTP Status: ${response.status})`);
                    }

                    // clear out selected id and search results before closing
                    this.search_string = "";
                    this.selected_objective_id = null;
                    this.objectives = null;

                    const modal_el = document.getElementById('setObjectiveModal');
                    const objectives_modal = bootstrap.Modal.getInstance(modal_el);
                    objectives_modal.hide();
                },

                async removeObjective() {
                    const url = "{{ url_for('question_objective', question_id=question.id) }}";
                    const response = await fetchOrRefresh(url, 'DELETE');
                    if (response.ok) {
                        this.objective_text = "";
                        showSnackbarMessage("Successfully removed learning objective.");
                    }
                    else {
                        showSnackbarMessage(`Error removing learning objective. Try again. (HTTP Status: ${response.status})`);
                    }
                },

                convertToHtml(md_text) {
                    return converter.makeHtml(md_text);
                }
            },

            compilerOptions: {
                delimiters: ["[[", "]]"]
            },
        });
        
        const vm = app.mount('#learningObjective');
        {% if question.objective %}
            vm.objective_text = converter.makeHtml("{{ question.objective.description|trim }}");
        {% endif %}

        window.patchBooleanField = async function patchBooleanField(toggle, field_name, question_id) {
            const response = await CadetApi.updateQuestionField(field_name, toggle.checked, question_id);

			if (!response.ok) {
                toggle.checked = !toggle.checked;
				showSnackbarMessage(`Error updating question. Try again. (HTTP Status: ${response.status})`);
                return;
			}

            showSnackbarMessage("Question successfully updated.");
        }

		// Hide the navbar inside the preview
		window.removeNavbar = function removeNavbar(iframe) {
			iframe.height = iframe.contentWindow.document.body.scrollHeight;
			iframe.style.border = "thin solid #d3d3d3";
			const navbar = iframe.contentWindow.document.getElementById("navbar");
			navbar.style.display = "none";
		}
	</script>
{% endblock %}
