{% extends "base.html" %}
{% block body %}
    <div class="container pt-3">
        <h4><i class="bi-check2-circle"></i><span class="px-2">Self-Check</span></h4>
        <div class="container">
            
            {{ prompt }}

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Your Answer</th>
                        <th scope="col">Correct Answer</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ response }}</td>
                        <td>{{ correct_answer }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

		<div class="container fs-5">
            <form method="POST" action="{{ post_url }}">
				{{ form.csrf_token }}
                Was your answer correct?
				{{ form.yes(class_="btn btn-primary") }}
				{{ form.no(class_="btn btn-danger") }}
			</form>
		</div>
    </div>
{% endblock %}
