{% extends "base.html" %}

{% block body %}
    <div class="container pt-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('user_views.root') }}" class="text-decoration-none">Home</a></li>
                <li class="breadcrumb-item"><a href="{{ url_for('user_views.course_overview', course_name=course.name) }}" class="text-decoration-none">{{ course.name }}</a></li>
                <li class="breadcrumb-item"><a href="{{ url_for('instructor.manage_assessments', course_name=course.name) }}" class="text-decoration-none">Manage Assessments</a></li>
                <li class="breadcrumb-item active" aria-current="page">Assessment Setup ({{assessment.title}})</li>
            </ol>
        </nav>


		<div id="assessmentSetup">
            <div class="d-flex">
                <div class="me-auto">
                    <h5>Assessment Setup: {{assessment.title}}</h5>
                    <div>
                        <em>{{assessment.description|mdown|safe}}</em>
                    </div>
                </div>

                <div>
                    <button type="button" class="btn btn-lg btn-primary"
                                          @click="submitSelected">
                        <i class="bi-save"></i>
                        Save Selections
                    </button>

                    <form method="POST" action="" id="setupAssessmentForm">
                        {{ form.csrf_token }}
                        {{ form.selected_topics }}
                        {{ form.selected_objectives }}
                        {{ form.selected_questions }}
                    </form>
                </div>
            </div>

            <div>
                <strong>Summary:</strong>
                <ul>
                    <li>[[selected_topics.length]] topic(s)</li>
                    <li>[[selected_objectives.length]] objective(s)</li>
                    <li>[[selected_questions.length]] question(s)</li>
                </ul>
            </div>

            <hr/>

            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-topics-tab" data-bs-toggle="pill" data-bs-target="#selectTopics" type="button" role="tab" aria-controls="selectTopics" aria-selected="true">Topics ([[ course_topics.length ]])</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-objectives-tab" data-bs-toggle="pill" data-bs-target="#selectObjectives" type="button" role="tab" aria-controls="selectObjectives" aria-selected="false">Learning Objectives ([[ all_objectives.length ]])</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-questions-tab" data-bs-toggle="pill" data-bs-target="#selectQuestions" type="button" role="tab" aria-controls="selectQuestions" aria-selected="false">Questions ([[ all_questions.length ]])</button>
                </li>
            </ul>

            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="selectTopics" role="tabpanel" aria-labelledby="pills-topics-tab">
                    <!-- TODO: search box -->
                    <!-- area for listing all course topics -->
                    <div class="row">
                        <div class="col-8">
                            <h5>
                                <i class="bi-list-task"></i>
                                Course Topics:
                            </h5>
                            <div class="mb-2">
                                Click a topic to toggle its selected status.
                            </div>
                            <button type="button" class="btn btn-sm btn-light m-2"
                                   v-for="(topic, index) in displayed_topics" :key="topic.id"
                                   tabIndex="0"
                                   @click="toggleItemSelect(topic, selected_topics)">
                                [[ topic.text ]]
                            </button>
                            <pagination-control
                                class="mt-3"
                                description="Page navigation for topics"
                                :num_items="course_topics.length"
                                :items_per_page="topics_per_page"
                                @selected-page-num="page_num => (current_topics_page = page_num)">
                            </pagination-control>

                            <div class="mt-3">
                                <em>Looking for a different topic?
                                <a href="{{ url_for('instructor.setup_topics', course_name=course.name) }}"
                                   class="text-decoration-none">Update this course's topics.</a>
                                </em>
                            </div>
                        </div>

                        <!-- area for selected topics -->
                        <div class="col-4">
                            <h5>
                                <i class="bi-list-check"></i>
                                Selected Topics:
                            </h5>
                            <ol class="list-group list-group-numbered">
                                <li type="button" class="list-group-item d-flex"
                                                  v-for="(t, index) in selected_topics" :key="t.id">
                                    <div class="ms-2 me-auto">
                                        [[ t.text ]]
                                    </div>
                                    <div>
                                        <i role="button" tabIndex="0" class="bi-x mx-2 fs-6 text-danger"
                                                                      @click="selected_topics.splice(index,1)"
                                                                      @keydown.enter="selected_topics.splice(index,1)"></i>
                                        <span class="visually-hidden">Remove</span>
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="selectObjectives" role="tabpanel" aria-labelledby="pills-objectives-tab">
                    <!-- area for possible objectives (based on selected topics) -->
                    <div class="row">
                        <div class="col-8">
                            <h5>
                                <i class="bi-list-task"></i>
                                All Objectives of Selected Topics:
                            </h5>

                            <div class="ms-1 my-3">
                                <strong>Key: </strong>
                                <i class="bi-check-circle ms-2 text-primary"></i> Selected 
                                <i class="bi-dash-circle ms-2 text-secondary"></i> Unselected
                            </div>

                            <div class="list-group" v-if="all_objectives.length !== 0">
                                <button type="button" class="list-group-item list-group-item-action"
                                                      v-for="(lo, index) in displayed_objectives" :key="lo.id"
                                                      @click="toggleItemSelect(lo, selected_objectives)">
                                    <span class="text-primary" v-if="objective_is_selected[index]">
                                        <i class="bi-check-circle"></i>
                                    </span>
                                    <span class="text-secondary" v-else>
                                        <i class="bi-dash-circle"></i>
                                    </span>

                                    <span class="ms-2" v-html="convertToHtml(lo.description)"></span>

                                    <span class="badge bg-light text-dark border m-1">
                                        [[ lo.topic.text ]]
                                    </span>
                                </button>

                                <pagination-control
                                    class="mt-2"
                                    description="Page navigation for objectives"
                                    :num_items="all_objectives.length"
                                    :items_per_page="objectives_per_page"
                                    @selected-page-num="page_num => (current_objectives_page = page_num)">
                                </pagination-control>
                            </div>
                            <div v-else>
                                None found.
                            </div>
                        </div>

                        <!-- area for selected objectives -->
                        <div class="col-4">
                            <h5>
                                <i class="bi-list-check"></i>
                                Selected Objectives:
                            </h5>

                            <ol class="list-group list-group-numbered">
                                <li type="button" class="list-group-item d-flex"
                                                  v-for="(lo, index) in selected_objectives" :key="lo.id">
                                    <div class="ms-2 me-auto">
                                        <span v-html="convertToHtml(lo.description)"></span>
                                        <span class="badge bg-light text-dark border m-1">
                                            [[ lo.topic.text ]]
                                        </span>
                                    </div>

                                    <i role="button" tabIndex="0" class="bi-x mx-2 fs-6 text-danger"
                                                     @click="selected_objectives.splice(index,1)"
                                                      @keydown.enter="selected_topics.splice(index,1)"></i>
                                    <span class="visually-hidden">Remove</span>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="selectQuestions" role="tabpanel" aria-labelledby="pills-questions-tab">
                    <!-- area for possible questions (based on selected objectives) -->
                    <div class="row">
                        <div class="col-8">
                            <h5>
                                <i class="bi-list-task"></i>
                                All Questions of Selected Objectives:
                            </h5>

                            <div class="ms-1 my-3">
                                <strong>Key: </strong>
                                <i class="bi-check-circle ms-2 text-primary"></i> Selected 
                                <i class="bi-dash-circle ms-2 text-secondary"></i> Unselected

                                <div class="visually-hidden">
                                    You may preview a question by selecting it and pressing the 'p' key.
                                </div>
                            </div>

                            <div class="list-group" v-if="all_questions.length !== 0">
                                <button type="button" class="list-group-item list-group-item-action"
                                                      v-for="(q, index) in displayed_questions" :key="q.id"
                                                      @click="toggleItemSelect(q, selected_questions)"
                                                      @keydown="previewQuestion(q, $event)">
                                    <div class="d-flex">
                                        <div class="mt-1">
                                            <span class="text-primary" v-if="question_is_selected[index]">
                                                <i class="bi-check-circle"></i>
                                            </span>
                                            <span class="text-secondary" v-else="!question_is_selected[index]">
                                                <i class="bi-dash-circle"></i>
                                            </span>
                                        </div>

                                        <div class="ms-2 flex-grow-1">
                                            <table class="table table-borderless table-sm mb-0">
                                                <tbody>
                                                    <tr>
                                                        <th scope="row" class="col-1">Type:</th>
                                                        <td>[[ q.type ]]</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Prompt:</th>
                                                        <td>
                                                            <div class="clippy" v-html="convertToHtml(q.prompt)"></div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Objective:</th>
                                                        <td v-html="convertToHtml(q.objective.description)"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="ms-1" style="white-space: nowrap">
                                            <i class="bi-eye"></i>
                                            <a :href="preview_url[index]" target="_blank"
                                                class="link-secondary text-decoration-none">
                                                Preview
                                            </a>
                                        </div>
                                    </div>

                                </button>
                            </div>

                            <pagination-control
                                class="mt-2"
                                description="Page navigation for questions"
                                :num_items="all_questions.length"
                                :items_per_page="questions_per_page"
                                @selected-page-num="page_num => (current_questions_page = page_num)">
                            </pagination-control>
                        </div>

                        <!-- area for selected questions -->
                        <div class="col-4">
                            <h5>
                                <i class="bi-list-check"></i>
                                Selected Questions:
                            </h5>

                            <ol class="list-group list-group-numbered">
                                <li class="list-group-item d-flex"
                                    v-for="(question, index) in selected_questions" :key="question.id">

                                    <span class="ms-2 me-auto" v-html="convertToHtml(question.prompt)"></span>
                                    <i role="button" class="bi-x fs-6 text-danger"
                                                     @click="selected_questions.splice(index,1)"
                                                     @keydown.enter="selected_topics.splice(index,1)"></i>
                                    <span class="visually-hidden">Remove</span>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

		</div>

	</div>

	<div id="snackbar">Default message.</div> 

    <script src="{{ url_for('static', filename='js/showdown.min.js') }}"></script>

	<script type="module">
		import { createApp, ref } from "{{ url_for('static', filename='js/vue.esm-browser.js') }}";
		import { showSnackbarMessage } from "{{ url_for('static', filename='js/helpers.js') }}";
		import * as CadetApi from "{{ url_for('static', filename='js/cadet-api.js') }}";
		import { useFilterableList, usePagination } from "{{ url_for('static', filename='js/filterable-lists.js') }}";
		import PaginationControl from "{{ url_for('static', filename='js/pagination-control.js') }}";

        const converter = new showdown.Converter();
        const refresh_url = "{{ url_for('auth.refresh_jwts') }}";

        const app = createApp({
			setup() {
				const course_id = ref({{ course.id }});

				const course_topics = ref([]);
                const selected_topics = ref([]);
				const topics_per_page = ref(25);
				const current_topics_page = ref(0);
				const { current_page: displayed_topics } = usePagination(course_topics, topics_per_page, current_topics_page);

				const all_objectives = ref([]);
                const selected_objectives = ref([]);
				const objectives_per_page = ref(10);
				const current_objectives_page = ref(0);
				const { current_page: displayed_objectives } = usePagination(all_objectives, objectives_per_page, current_objectives_page);

				const all_questions = ref([]);
                const selected_questions = ref([]);
				const questions_per_page = ref(10);
				const current_questions_page = ref(0);
				const { current_page: displayed_questions } = usePagination(all_questions, questions_per_page, current_questions_page);

                return { course_id,
                            course_topics, selected_topics, topics_per_page,
                            current_topics_page, displayed_topics,
                            all_objectives, selected_objectives, objectives_per_page,
                            current_objectives_page, displayed_objectives,
                            all_questions, selected_questions, questions_per_page,
                            current_questions_page, displayed_questions
                            }
            },

            components: {
				PaginationControl,
			},

            watch: {
                selected_topics: {
                    handler(newSelectedTopics, oldSelecedTopics) {
                        this.getObjectives();
                    },
                    deep: true,
                },

                selected_objectives: {
                    handler(newSelectedObjectives, oldSelecedObjectives) {
                        this.getQuestions();
                    },
                    deep: true,
                },
            },

            computed: {
                objective_is_selected() {
                    const selected_ids = this.selected_objectives.map(o => o.id);
                    return this.displayed_objectives.map(o => selected_ids.includes(o.id))
                },

                question_is_selected() {
                    const selected_ids = this.selected_questions.map(q => q.id);
                    return this.displayed_questions.map(q => selected_ids.includes(q.id))
                },

                preview_url() {
                    return this.displayed_questions.map(q => 
                        Flask.url_for('instructor.preview_question', {'question_id': q.id}))
                },
            },

            methods: {
				displayMessage(msg) {
					showSnackbarMessage(msg);
				},

                previewQuestion(question, e) {
                    if (e.key === 'p') {
                        const url = Flask.url_for('instructor.preview_question', {"question_id": question.id});
                        window.open(url);
                    }
                },

                toggleItemSelect(target_item, selected_items) {
                    const found_index = selected_items.findIndex((item) => item.id === target_item.id);

                    if (found_index === -1) {
                        // wasn't selected before, so add it to selected list
                        selected_items.push(target_item);
                    }
                    else {
                        // it was already in there so remove it
                        selected_items.splice(found_index, 1);
                    }
                },

                getTopics() {
                    CadetApi.getCourseTopics({{ course.id }})
                        .then(topics => this.course_topics = topics)
                        .catch(e => showSnackbarMessage("Error retrieving topics."));
                },

                async getObjectives() {
                    if (this.selected_topics.length > 0) {
                        const topic_ids = this.selected_topics.map(t => t.id);

                        try {
                            this.all_objectives = await CadetApi.getObjectivesForTopics(topic_ids);
                        } catch (e) {
                            this.all_objectives = [];
                            showSnackbarMessage("Error retrieving learning objectives.");
                        }
                    }
                    else {
                        this.all_objectives = [];
                    }
                },

                async getQuestions() {
                    if (this.selected_objectives.length > 0) {
                        const objective_ids = this.selected_objectives.map(t => t.id);

                        try {
                            this.all_questions = await CadetApi.getQuestionsForObjectives(objective_ids);
                        } catch (e) {
                            this.all_questions = [];
                            showSnackbarMessage("Error retrieving questions.");
                        }
                    }
                    else {
                        this.all_questions = [];
                    }
                },

                submitSelected() {
                    const selected_topic_ids = this.selected_topics.map(t => t.id);
                    const topics_str = selected_topic_ids.join();
                    document.getElementById("selected_topics").value = topics_str;

                    const selected_objective_ids = this.selected_objectives.map(o => o.id);
                    const objectives_str = selected_objective_ids.join();
                    document.getElementById("selected_objectives").value = objectives_str;

                    const selected_question_ids = this.selected_questions.map(q => q.id);
                    const questions_str = selected_question_ids.join();
                    document.getElementById("selected_questions").value = questions_str;

                    document.getElementById("setupAssessmentForm").submit();
                },

                convertToHtml(md_text, unwrap_p=true) {
                    let html_text = converter.makeHtml(md_text);
                    if (unwrap_p) {
                        html_text = html_text.slice(3, -4);
                    }
                    return html_text;
				},
            },

            created() {
                this.getTopics();
            },

            compilerOptions: {
                delimiters: ["[[", "]]"]
            },
        });
        
        const vm = app.mount('#assessmentSetup');
        vm.selected_topics = {{ assessment.topics|tojson }};
        vm.selected_objectives = {{ assessment.objectives|tojson }};
        vm.selected_questions = {{ assessment.questions|tojson }};
	</script>
{% endblock %}
