{% extends "base.html" %}
{% block body %}
    <div class="container pt-3">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{{ url_for('user_views.root') }}" class="text-decoration-none">Home</a></li>
				<li class="breadcrumb-item"><a href="{{ url_for('user_views.course_overview', course_name=course.name) }}" class="text-decoration-none">{{ course.name }}</a></li>
				<li class="breadcrumb-item active" aria-current="page">Select Topics(s)</li>
			</ol>
		</nav>

		<div class="row" id="topicSetup">
			<h4>Set Course Topics ({{ course.name }})</h4>
				
			<div class="col-8">
				<!-- tab/pill navigation -->
				<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
					<li class="nav-item" role="presentation">
						<button class="nav-link active" id="pills-textbooks-tab" data-bs-toggle="pill" data-bs-target="#selectFromTextbooks" type="button" role="tab" aria-controls="selectFromTextbooks" aria-selected="true">Textbooks</button>
					</li>

					<li class="nav-item" role="presentation">
						<button class="nav-link" id="pills-find-tab" data-bs-toggle="pill" data-bs-target="#findOrCreate" type="button" role="tab" aria-controls="findOrCreate" aria-selected="false">Search / Create</button>
					</li>
				</ul>

				<div class="tab-content" id="pills-tabContent">
					<div class="tab-pane fade show active" id="selectFromTextbooks" role="tabpanel" aria-labelledby="pills-textbooks-tab">

						Add topics from the course textbooks shown below by
						clicking on the individual topics.

						<div v-if="course_textbooks.length === 0" class="mt-3">
							<i class="bi-exclamation-circle-fill text-danger"></i> No course textbooks found.
							<a class="text-decoration-none" href="{{ url_for('instructor.setup_textbooks', course_name=course.name) }}">
								Add a Course Textbook
							</a>
						</div>

						<ul class="list-unstyled mt-3">
							<li v-for="textbook in course_textbooks" :key="textbook.id" class="mb-5">
								<div class="d-flex">
									<div class="me-auto">
										<strong class="fs-5">[[ textbook.title ]]</strong>
										<br/><em>[[ textbook.authors ]]</em>
									</div>
									<div>
										<button role="button" 
											@click="addAllTopics(textbook)"
											class="btn btn-sm btn-outline-danger">
											Add All Textbook Topics
										</button>
									</div>
								</div>
								<ul class="list-group mx-2 mt-2">
									<li class="list-group-item" v-for="section in textbook.sections" :key="section.id">
										<strong>
											<span v-if="section.number !== null">[[ section.number ]]</span>
											[[ section.title ]]
										</strong>
										<div v-if="section.topics !== null"
											class="mt-1">
											Topics:
											<span v-for="topic in section.topics" :key="topic.id"
				 								role="button"
			 									tabIndex="0"
				 								class="badge bg-light text-dark border me-1"
												@keydown.enter="addTopic(topic)"
												@keydown.space="addTopic(topic)"
												@click="addTopic(topic)">
												[[ topic.text ]]
											</span>
											<button role="button" 
				   								@click="section.topics.forEach(t => addTopic(t))"
												class="btn btn-sm btn-link link-danger text-decoration-none">
												Add All
											</button>
										</div>
										<div v-else>
											No Available Topics
										</div>
									</li>
								</ul>
							</li>
						</ul>
					</div>

					<div class="tab-pane fade show" id="findOrCreate" role="tabpanel" aria-labelledby="pills-find-tab">

						Search the database of all topics. If your search does not find the
						appropriate topic, you may create a new topic.

						<div class="input-group my-3">
							<label for="topicSearchBar"
								class="form-label visually-hidden">
								Search Topics</label>
							<input id="topicSearchBar"
							  v-model.trim="search_bar_text" 
							  @keyup.enter="search()"
							  type="text"
							  class="form-control"
							  placeholder="Search topics">

							<button class="btn btn-xs btn-primary" @click="search()">
								<i class="bi-search"></i>
								Search
							</button>
						</div>

						<div v-if="search_results !== null" class="ms-2">
							<strong>Search Results ([[ search_results.length ]]):</strong>

							<div v-if="displayed_search_results.length === 0" class="ms-1">
								<em>No search results.</em>
							</div>

							<div v-else class="mt-2">
								<ul class="list-unstyled ms-2">
									<li v-for="topic in search_results" :key="topic.id" class="border-bottom">
										<button role="button" class="btn btn-link link-primary text-decoration-none"
											 @click="addTopic(topic)"
											 :class="{ disabled: course_topics.find(t => (t.id === topic.id)) !== undefined}">
											 <span class="visually-hidden">Add</span>
											 <i class="bi-plus-circle"></i>
										</button>
										<strong>[[ topic.text ]]</strong>
									</li>

								</ul>


								<pagination-control
									class="mt-3"
									description="Page navigation for topic search results"
									:num_items="search_results.length"
									:items_per_page="results_per_page"
									@selected-page-num="page_num => (current_search_page = page_num)">
								</pagination-control>
							</div>

							<div v-if="search_string !== '' && search_results.find(t => (t.text.trim().toLowerCase() === search_string.toLowerCase())) === undefined"
								class="mt-2">
								<button role="button" class="btn btn-link text-style-none"
									@click="createTopic(search_string)">
									<i class="bi-bag-plus text-danger"></i>
									<span class="visually-hidden">Create and Add Topic</span>
								</button>
								<strong>Create New Topic:</strong> [[ search_string ]]
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-4">
				<div class="border p-2">
					<h5>Course Topics</h5>
					<ol class="mt-3 ms-2" :start="current_topics_page * results_per_page + 1">
						<li v-for="topic in displayed_course_topics" :key="topic.id">
							<div class="d-flex">
								<div class="me-auto">
									<strong>[[ topic.text ]]</strong>
								</div>
								<div>
									<button role="button" class="btn btn-link text-decoration-none link-danger"
							   			@click="removeTopic(topic)">Remove</button>
								</div>
						</li>
					</ol>

					<div v-if="course_topics.length === 0" class="mt-3 ms-2">
						No course topics found.
					</div>

					<pagination-control
						class="mt-3"
						description="Page navigation for course topics"
						:num_items="course_topics.length"
						:items_per_page="results_per_page"
						@selected-page-num="page_num => (current_topics_page = page_num)">
					</pagination-control>
				</div>
				<div class="dropdown mt-2 d-flex justify-content-end">
					<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"  data-bs-display="static" aria-expanded="false">
						Continue...
					</button>
					<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
						<li><a class="dropdown-item" href="{{ url_for('instructor.setup_textbooks', course_name=course.name) }}">Previous Step: Set Course Textbooks</a></li>
						<li><a class="dropdown-item" href="{{ url_for('user_views.course_overview', course_name=course.name) }}">Exit Course Setup</a></li>
					</ul>
				</div>
			</div>

		</div>
	</div>

	<div id="snackbar">Default message.</div> 

    <script src="{{ url_for('static', filename='js/showdown.min.js') }}"></script>

	<script type="module">
		import { fetchOrRefresh, showSnackbarMessage } from "{{ url_for('static', filename='js/helpers.js') }}";
		import { createApp, ref } from "{{ url_for('static', filename='js/vue.esm-browser.js') }}";
		import * as CadetApi from "{{ url_for('static', filename='js/cadet-api.js') }}";
		import { usePagination } from "{{ url_for('static', filename='js/filterable-lists.js') }}";
		import PaginationControl from "{{ url_for('static', filename='js/pagination-control.js') }}";

        const converter = new showdown.Converter();
        const refresh_url = "{{ url_for('auth.refresh_jwts') }}";

        const app = createApp({
			setup() {
				const course_id = ref({{ course.id }});

				const course_topics = ref([]);
				const results_per_page = ref(10);
				const current_topics_page = ref(0);
				const { current_page: displayed_course_topics } = usePagination(course_topics, results_per_page, current_topics_page);

				const course_textbooks = ref([]);

				const search_bar_text = ref("");
				const search_results = ref([]);
				const search_string = ref("");
				const current_search_page = ref(0);
				const { current_page: displayed_search_results } = usePagination(search_results, results_per_page, current_search_page);

				return { course_id, course_topics, current_topics_page,
							displayed_course_topics,
							course_textbooks,
							search_results, search_bar_text, search_string, results_per_page, current_search_page,
							displayed_search_results};
			},

			components: {
				PaginationControl,
			},

            methods: {
				displayMessage(msg) {
					showSnackbarMessage(msg);
				},

				async search() {
				  	if (this.search_bar_text !== "") {
						// Only search if a non-empty string given
						this.search_string = this.search_bar_text;

						const response = await CadetApi.searchTopics(this.search_string);
						if (response.ok) {
							const r = await response.json();
							this.search_results = r["topics"];
						}
						else {
							showSnackbarMessage("Error retrieving search results.");
						}
				  	}
				},

				async createTopic(topic_text) {
					const response = await CadetApi.createNewTopic(topic_text);
					if (response.ok) {
						const r = await response.json();
						this.search_results.push(r.topic);
						showSnackbarMessage("Successfully created topic.");
						this.addTopic(r.topic);
					}
					else {
						showSnackbarMessage("Error creating new topic. Please try again.");
					}
				},

				async addTopic(topic) {
					const response = await CadetApi.addCourseTopic(this.course_id, topic.id);
					if (response.ok) {
						const r = await response.json();
						if (!r["invalid-ids"].includes(topic.id)) {
							if (this.course_topics.findIndex(t => (t.id === topic.id)) === -1) {
								this.course_topics.push(topic);
							}
							showSnackbarMessage("Successfully added topic to course.");
						}
						else {
							showSnackbarMessage("Could not add selected topic.");
						}
					}
					else {
						showSnackbarMessage("Error adding topic. Please try again.");
					}
				},

				async addAllTopics(textbook) {
					const topic_ids = [];
					textbook.sections.forEach(s => s.topics.forEach(t => { if (!topic_ids.includes(t.id)) topic_ids.push(t.id) }));
					const response = await CadetApi.addCourseTopics(this.course_id, topic_ids);
					if (response.ok) {
						const r = await response.json();
						const num_added = r["added"].length;
						const num_skipped = r["previously-added"].length;
						const num_bad_ids = r["invalid-ids"].length;

						showSnackbarMessage(`Succeessfully added ${num_added} topics. Ignored ${num_skipped} that were already added.`);

						for (const topic of r["added"]) {
							if (this.course_topics.findIndex(t => (t.id === topic.id)) === -1) {
								this.course_topics.push(topic);
							}
						}
					}
					else {
						showSnackbarMessage("Error adding topics. Please try again.");
					}

				},

				async removeTopic(topic) {
					const response = await CadetApi.removeCourseTopic(this.course_id, topic.id);
					if (response.ok) {
						const located_at = this.course_topics.findIndex(t => (t.id === topic.id));
						if (located_at !== -1) {
							this.course_topics.splice(located_at, 1);
						}
						showSnackbarMessage("Topic successfully removed from course.");
					}
					else {
						showSnackbarMessage("Error removing topic. Please try again.");
					}
				},

				async fetchTopics() {
					const url = "{{ url_for('course', course_id=course.id) }}";
    				const response = await fetchOrRefresh(url, 'GET', refresh_url);

					if (response.ok) {
						const r_json = await response.json()
						this.course_topics = r_json.topics;
					}
					else {
						showSnackbarMessage("Could not load course topics.");
					}
				},

				async fetchTextbooks() {
					const response = await CadetApi.getCourseTextbooks(this.course_id);
					if (response.ok) {
						const r_json = await response.json()
						this.course_textbooks = r_json.textbooks;
					}
					else {
						showSnackbarMessage("Could not load course textbooks.");
					}
				},

                convertToHtml(md_text) {
                    return converter.makeHtml(md_text);
				},
            },

			created() {
				this.fetchTopics();
				this.fetchTextbooks();
			},

            compilerOptions: {
                delimiters: ["[[", "]]"]
            },
        });
        
        const vm = app.mount('#topicSetup');
	</script>
{% endblock %}
