{% extends "question.html" %}
{% import 'forms.html' as forms %}

{% block response_area %}
	<div class="row pt-2" id="response_area">
		<form method="POST"
			  action="{% if not preview_mode %}{{ post_url }}{% endif %}">
			{{ form.csrf_token }}
			{{ form.question_id }}

			{% set class_str = "form-control " + forms.get_valid_class(form.response) %}
			{{ form.response(class_=class_str, placeholder="Enter your answer", required=False) }}
			{% if form.response.errors %} 
				<div class="ms-1 invalid-feedback">
					Enter an answer or click "I Don't Know".
				</div>
			{% endif %}

			<p class="d-flex pt-2" id="submit-buttons">
				{{ form.submit(class_="btn btn-primary btn-sm order-2 ms-1") }}
				{{ form.no_answer(class_="btn btn-secondary btn-sm order-1") }}
			</p>
		</form>
	</div>
{% endblock %}
