{% extends "base.html" %}
{% import 'forms.html' as forms %}

{% block body %}
    <div class="container pt-3">
		<div class="row text-end">
			{% if not fresh_question %}
				<strong><i class="bi-arrow-repeat"></i> Repeat Question</strong>
			{% endif %}
		</div>

		<div class="row">
			{{ prompt }}
		</div>


        <div class="row pt-2">
            <form method="POST" action="{{ post_url }}">
                {{ form.csrf_token }}
                {{ form.question_id }}

				{% set class_str = "form-control " + forms.get_valid_class(form.response) %}
				{{ form.response(class_=class_str, placeholder="Enter your answer", required=False) }}
				{% if form.response.errors %} 
					<div class="ms-1 invalid-feedback">
						Enter an answer or click "I Don't Know".
					</div>
				{% endif %}

                <p class="pt-2">
                    {{ form.no_answer(class_="btn btn-secondary btn-sm") }}
                    {{ form.submit(class_="btn btn-primary btn-sm") }}
                </p>
            </form>
        </div>
    </div>
{% endblock %}
