{% extends "base.html" %}
{% block body %}
    <div class="container pt-3">
        <div class="container">
            Define: <span class="fs-3 fw-bold">{{ term }}</span>
        </div>

        <div class="container">
            <form method="POST" action="{{ url_for('user_views.test_definition') }}">
                {{ form.csrf_token }}
                {{ form.question_id }}

                {{ form.answer(required=False) }}

                <p class="pt-2">
                    {{ form.no_answer(class_="btn btn-outline-danger btn-sm") }}
                    {{ form.submit(class_="btn btn-primary btn-sm") }}
                </p>
            </form>
        </div>
    </div>
{% endblock %}
