{% extends "question.html" %}
{% import 'forms.html' as forms %}

{% block instructions %}
    <div class="row">
        <div class="col">
            <strong>Instructions:</strong> Fill in the blank(s) with the correct answer(s).
        </div>
    </div>
{% endblock %}

{% block response_area %}
<div class="row pt-2" id="response_area">
    <form method="POST"
          action="{% if not preview_mode %}{{ post_url }}{% endif %}">
        {{ form.csrf_token }}
        {{ form.question_id }}

        {% set class_str = "form-control " + forms.get_valid_class(form.response) %}
        {{ form.response }}
        {% if form.response.errors %}
            <div class="ms-1 invalid-feedback">
                Enter an answer or click "I Don't Know".
            </div>
        {% endif %}
        <p class="pt-2">
            {{ form.no_answer(class_="btn btn-secondary btn-sm") }}
            {{ form.submit(class_="btn btn-primary btn-sm") }}
        </p>
<script>

    let blank_box_num = 1;
    while (document.getElementById(`FITB${blank_box_num}`) != null){ //adding event listeners for every textbox
        document.getElementById(`FITB${blank_box_num}`).addEventListener("change", update_user_response)
        blank_box_num++;
        }

    function update_user_response() {
        let textbox_num = 1;
        let response_list = [];
        while (document.getElementById(`FITB${textbox_num}`) != null){ //adding all the textboxes to the repsonse list until they dont exist by ID
            let FITBResponse = document.getElementById(`FITB${textbox_num}`);
            response_list.push(FITBResponse.value);
            textbox_num ++;
        }
	
	    // Build the response string based on the order of the items in the
	    // list.
	    let response_str = "";

	    for (let item of response_list) { // loop through every textbox in the question
		    response_str = response_str + item+",";
	    }

        let lastComma = response_str.length -1;
        response_str = response_str.slice(0, lastComma); //removing the extra comma at the end

        

	    // update value of response form field
	    response_field = document.getElementById("response");
	    response_field.value = response_str;
    }
    </script>
    </form>
</div>
{% endblock %}


