{% extends "base.html" %}
{% import 'forms.html' as forms %}

{% block body %}
    <div class="container pt-3">
		{% if preview_mode %}
			<div class="text-danger row mb-3">
				<strong><i class="bi-eye-fill"></i> Question Preview</strong>
			</div>
		{% elif not fresh_question %}
			<div class="row text-end">
				<strong><i class="bi-arrow-repeat"></i> Repeat Question</strong>
			</div>
		{% endif %}

		<div class="row" id="prompt">
			{{ prompt }}
		</div>


        <div class="row pt-2" id="response_area">
			<form method="POST"
		 		  action="{% if not preview_mode %}{{ post_url }}{% endif %}">
                {{ form.csrf_token }}
                {{ form.question_id }}

				{% set class_str = "form-control " + forms.get_valid_class(form.response) %}
				{{ form.response(class_=class_str, placeholder="Enter your answer", required=False) }}
				{% if form.response.errors %} 
					<div class="ms-1 invalid-feedback">
						Enter an answer or click "I Don't Know".
					</div>
				{% endif %}

                <p class="pt-2">
                    {{ form.no_answer(class_="btn btn-secondary btn-sm") }}
                    {{ form.submit(class_="btn btn-primary btn-sm") }}
                </p>
            </form>
        </div>
    </div>

	{% if preview_mode %}
		<script type="text/javascript">
			window.addEventListener("DOMContentLoaded", () => {
				submit_button = document.getElementById("submit");
				submit_button.disabled = true;

				no_answer_button = document.getElementById("no_answer");
				no_answer_button.disabled = true;
			});
		</script>
	{% endif %}

{% endblock %}
