{% extends "question.html" %}
{% import 'forms.html' as forms %}

{% block response_area %}
	<div class="row" id="response_area">
		<form method="POST"
			action="{% if not preview_mode %}{{ post_url }}{% endif %}">
			{{ form.csrf_token }}
			{{ form.question_id }}
			{{ forms.checkbox_input(form.response) }}
            <div id="submit-buttons" class="d-flex">
                {{ form.submit(class_="btn btn-primary btn-sm order-2 ms-1") }}
                {{ form.no_answer(class_="btn btn-secondary btn-sm order-1") }}
            </div>
		</form>
	</div>
{% endblock %}
